procurement-docs-search/Attachment E - Person Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  name="BizTalkServiceInstance"
  targetNamespace="http://tempuri.org/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:tns="http://tempuri.org/"
  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
  <wsdl:documentation><CreationInfo Created="2017-11-02 06:24:12Z"/></wsdl:documentation>
  <wsp:Policy wsu:Id="BasicHttpBinding_ITwoWayAsync_policy">
    <wsp:ExactlyOne>
      <wsp:All><http:BasicAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http"/>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy><sp:HttpsToken RequireClientCertificate="false"/></wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy><sp:Basic256/></wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy><sp:Strict/></wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Message" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/Message">
      <xs:complexType name="MessageBody">
        <xs:sequence><xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any"/></xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://tempuri.org/Imports" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/Imports"><xs:import namespace="http://MCI.PersonService.SearchByAddress"/><xs:import namespace="http://MCI.PersonService.RegisterPerson"/><xs:import namespace="http://MCI.PersonService.GetPerson"/><xs:import namespace="http://dhss.alaska.gov/schemas/searchPerson/2014-01"/><xs:import namespace="http://MCI.PersonService.DeletePerson"/><xs:import namespace="http://MCI.PersonService.MergePerson"/><xs:import namespace="http://MCI.PersonService.UpdatePerson"/><xs:import namespace="http://MCI.PersonService.SearchProvider"/></xs:schema>
    <xs:schema targetNamespace="http://MCI.PersonService.SearchByAddress" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://MCI.PersonService.SearchByAddress">
      <xs:element name="AddressSearch">
        <xs:complexType>
          <xs:sequence><xs:element name="Address" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddressSearchResponse">
        <xs:complexType>
          <xs:sequence><xs:element maxOccurs="unbounded" name="SearchResponsePerson" type="SearchResponsePersonType"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="RegistrationType">
        <xs:sequence><xs:element name="RegistrationName" type="xs:string"/><xs:element name="RegistrationValue" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="SearchResponsePersonType">
        <xs:sequence><xs:element name="VirtualId" type="xs:string"/><xs:element name="MatchPercentage" type="xs:string"/><xs:element name="Title" type="xs:string"/><xs:element name="FirstName" type="xs:string"/><xs:element name="MiddleName" type="xs:string"/><xs:element name="LastName" type="xs:string"/><xs:element name="Suffix" type="xs:string"/><xs:element name="Address" type="xs:string"/><xs:element name="DateOfBirth" nillable="true" type="xs:string"/><xs:element name="Gender" type="xs:string"/>
          <xs:element name="Registrations">
            <xs:complexType>
              <xs:sequence><xs:element maxOccurs="unbounded" name="Registration" type="RegistrationType"/></xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://MCI.PersonService.RegisterPerson" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://MCI.PersonService.RegisterPerson">
      <xs:element name="Create">
        <xs:complexType>
          <xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="SourceSystemName" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="1" name="Person">
              <xs:complexType>
                <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Name" type="NameType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="Date" type="DateType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="AddressType"/><xs:element minOccurs="1" maxOccurs="1" name="SystemRegistration" type="RegistrationType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="Registration" type="RegistrationType"/>
                  <xs:element minOccurs="0" maxOccurs="1" name="Gender">
                    <xs:simpleType>
                      <xs:restriction base="xs:string"><xs:enumeration value="Male"/><xs:enumeration value="Female"/><xs:enumeration value="Unknown"/></xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Race">
                    <xs:simpleType>
                      <xs:restriction base="xs:string"><xs:enumeration value="American Indian or Alaska Native"/><xs:enumeration value="Asian"/><xs:enumeration value="Black or African American"/><xs:enumeration value="Native Hawaiian or Other Pacific Islander"/><xs:enumeration value="White"/><xs:enumeration value="Other"/></xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Ethnicity">
                    <xs:simpleType>
                      <xs:restriction base="xs:string"><xs:enumeration value="Hispanic or Latino"/><xs:enumeration value="Not Hispanic or Latino"/></xs:restriction>
                    </xs:simpleType>
                  </xs:element><xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDetails" type="ContactType"/></xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateResponse">
        <xs:complexType>
          <xs:sequence><xs:element name="VirtualId" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="NameType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Registered"/><xs:enumeration value="Alias"/><xs:enumeration value="Maiden"/><xs:enumeration value="Birth"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Suffix" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="DateType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Date of Birth"/><xs:enumeration value="Date of Death"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:dateTime"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Physical"/><xs:enumeration value="Mailing"/><xs:enumeration value="Other"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="ZIP" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="ZIP4" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegistrationType">
        <xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Home"/><xs:enumeration value="Cell"/><xs:enumeration value="Work"/><xs:enumeration value="Personal"/><xs:enumeration value="Alternate"/><xs:enumeration value="Email"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://MCI.PersonService.GetPerson" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://MCI.PersonService.GetPerson">
      <xs:element name="GetPersonRequest">
        <xs:complexType>
          <xs:sequence><xs:element name="EntityId" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetPersonResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Person">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="Names">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Name" type="NameType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Locations">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Location" type="LocationType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Attributes">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="AttributeType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Registrations">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Registration" type="RegistrationType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Dates">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Date" type="DateType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Relationships">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Relationship" type="RelationshipType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Contacts">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" type="ContactType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="NameType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="First" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Middle" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Last" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Suffix" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocationType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationElement">
            <xs:complexType>
              <xs:sequence><xs:element name="Type" type="xs:string"/><xs:element name="Value" type="xs:string"/></xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence><xs:attribute name="Type" type="xs:string"/><xs:attribute name="Value" type="xs:string"/></xs:complexType>
      <xs:complexType name="AttributeType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegistrationType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="DateType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:dateTime"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="RelationshipType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="EntityId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/><xs:element name="SourceSystem" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="ContactType" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://dhss.alaska.gov/schemas/searchPerson/2014-01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://dhss.alaska.gov/schemas/searchPerson/2014-01">
      <xs:element name="Search">
        <xs:complexType>
          <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:date"/><xs:element minOccurs="0" maxOccurs="1" name="Registration" type="xs:string"/></xs:sequence>
          <xs:attribute name="SearchType">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="AND"/><xs:enumeration value="OR"/></xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="SearchResponse">
        <xs:complexType>
          <xs:sequence><xs:element maxOccurs="unbounded" name="SearchResponsePerson" type="SearchResponsePersonType"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="RegistrationType">
        <xs:sequence><xs:element name="RegistrationName" type="xs:string"/><xs:element name="RegistrationValue" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="NameType">
        <xs:sequence><xs:element name="NameType" type="xs:string"/><xs:element name="Title" type="xs:string"/><xs:element name="FirstName" type="xs:string"/><xs:element name="MiddleName" type="xs:string"/><xs:element name="LastName" type="xs:string"/><xs:element name="Suffix" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="SearchResponsePersonType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="VirtualId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="MatchPercentage" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Suffix" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime"/><xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Registrations">
            <xs:complexType>
              <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Registration" type="RegistrationType"/></xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Names">
            <xs:complexType>
              <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Name" type="NameType"/></xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Addresses">
            <xs:complexType>
              <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="AddressType"/></xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationElement">
            <xs:complexType>
              <xs:sequence><xs:element name="Type" type="xs:string"/><xs:element name="Value" type="xs:string"/></xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence><xs:attribute name="Type" type="xs:string"/><xs:attribute name="Value" type="xs:string"/></xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://MCI.PersonService.DeletePerson" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://MCI.PersonService.DeletePerson">
      <xs:element name="DeletePersonRequest">
        <xs:complexType>
          <xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="SourceSystem" type="xs:string"/><xs:element minOccurs="1" maxOccurs="1" name="RegistrationType" type="xs:string"/><xs:element minOccurs="1" maxOccurs="1" name="RegistrationValue" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeletePersonResponse">
        <xs:complexType>
          <xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="Successful" type="xs:boolean"/><xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="DeletedPerson">
              <xs:complexType>
                <xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="FirstName" type="xs:string"/><xs:element minOccurs="1" maxOccurs="1" name="LastName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xs:dateTime"/></xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://MCI.PersonService.MergePerson" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://MCI.PersonService.MergePerson">
      <xs:element name="MergePersonRequest">
        <xs:complexType>
          <xs:sequence><xs:element minOccurs="2" maxOccurs="2" name="EntityId" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MergePersonResponse">
        <xs:complexType>
          <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="EntityId" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://MCI.PersonService.UpdatePerson" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://MCI.PersonService.UpdatePerson">
      <xs:element name="UpdatePersonRequest">
        <xs:complexType>
          <xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="SourceSystemName" type="xs:string"/>
            <xs:element minOccurs="1" maxOccurs="1" name="Person">
              <xs:complexType>
                <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Name" type="NameType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="Date" type="DateType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="Address" type="AddressType"/><xs:element minOccurs="1" maxOccurs="1" name="SystemRegistration" type="RegistrationType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="Registration" type="RegistrationType"/><xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDetails" type="ContactType"/>
                  <xs:element minOccurs="0" maxOccurs="1" name="Gender">
                    <xs:simpleType>
                      <xs:restriction base="xs:string"><xs:enumeration value="Male"/><xs:enumeration value="Female"/><xs:enumeration value="Unknown"/></xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Race">
                    <xs:simpleType>
                      <xs:restriction base="xs:string"><xs:enumeration value="American Indian or Alaska Native"/><xs:enumeration value="Asian"/><xs:enumeration value="Black or African American"/><xs:enumeration value="Native Hawaiian or Other Pacific Islander"/><xs:enumeration value="White"/><xs:enumeration value="Other"/></xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Ethnicity">
                    <xs:simpleType>
                      <xs:restriction base="xs:string"><xs:enumeration value="Hispanic or Latino"/><xs:enumeration value="Not Hispanic or Latino"/></xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdatePersonResponse">
        <xs:complexType>
          <xs:sequence><xs:element name="VirtualId" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="NameType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Registered"/><xs:enumeration value="Alias"/><xs:enumeration value="Maiden"/><xs:enumeration value="Birth"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="FirstName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="LastName" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Suffix" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="DateType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Date of Birth"/><xs:enumeration value="Date of Death"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:dateTime"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Physical"/><xs:enumeration value="Mailing"/><xs:enumeration value="Other"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="ZIP" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="ZIP4" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegistrationType">
        <xs:sequence><xs:element minOccurs="1" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string"><xs:enumeration value="Home"/><xs:enumeration value="Cell"/><xs:enumeration value="Work"/><xs:enumeration value="Personal"/><xs:enumeration value="Alternate"/><xs:enumeration value="Email"/></xs:restriction>
            </xs:simpleType>
          </xs:element><xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://MCI.PersonService.SearchProvider" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" xmlns="http://MCI.PersonService.SearchProvider">
      <xs:element name="SearchProviderRequest">
        <xs:complexType>
          <xs:sequence><xs:element name="FirstName" type="xs:string"/><xs:element name="LastName" type="xs:string"/><xs:element name="BusinessName" type="xs:string"/><xs:element name="Speciality" type="xs:string"/><xs:element name="NPI" type="xs:string"/></xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SearchProviderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Provider">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="Names">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Name" type="NameType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Locations">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Location" type="LocationType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Attributes">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="AttributeType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Registrations">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Registration" type="RegistrationType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Dates">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Date" type="DateType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="Contacts">
                    <xs:complexType>
                      <xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" type="ContactType"/></xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence><xs:attribute name="VirtualId" type="xs:string"/></xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="NameType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="LocationType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationElement">
            <xs:complexType>
              <xs:sequence><xs:element name="Type" type="xs:string"/><xs:element name="Value" type="xs:string"/></xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence><xs:attribute name="Type" type="xs:string"/><xs:attribute name="Value" type="xs:string"/></xs:complexType>
      <xs:complexType name="AttributeType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegistrationType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="DateType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:dateTime"/></xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactType">
        <xs:sequence><xs:element minOccurs="0" maxOccurs="1" name="ContactType" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string"/></xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="PersonService_SearchAddress_InputMessage"><wsdl:part name="part" element="q1:AddressSearch" xmlns:q1="http://MCI.PersonService.SearchByAddress"/></wsdl:message>
  <wsdl:message name="PersonService_SearchAddress_OutputMessage"><wsdl:part name="part" element="q2:AddressSearchResponse" xmlns:q2="http://MCI.PersonService.SearchByAddress"/></wsdl:message>
  <wsdl:message name="PersonService_CreatePerson_InputMessage"><wsdl:part name="part" element="q3:Create" xmlns:q3="http://MCI.PersonService.RegisterPerson"/></wsdl:message>
  <wsdl:message name="PersonService_CreatePerson_OutputMessage"><wsdl:part name="part" element="q4:CreateResponse" xmlns:q4="http://MCI.PersonService.RegisterPerson"/></wsdl:message>
  <wsdl:message name="PersonService_GetPerson_InputMessage"><wsdl:part name="part" element="q5:GetPersonRequest" xmlns:q5="http://MCI.PersonService.GetPerson"/></wsdl:message>
  <wsdl:message name="PersonService_GetPerson_OutputMessage"><wsdl:part name="part" element="q6:GetPersonResponse" xmlns:q6="http://MCI.PersonService.GetPerson"/></wsdl:message>
  <wsdl:message name="PersonService_SearchPerson_InputMessage"><wsdl:part name="part" element="q7:Search" xmlns:q7="http://dhss.alaska.gov/schemas/searchPerson/2014-01"/></wsdl:message>
  <wsdl:message name="PersonService_SearchPerson_OutputMessage"><wsdl:part name="part" element="q8:SearchResponse" xmlns:q8="http://dhss.alaska.gov/schemas/searchPerson/2014-01"/></wsdl:message>
  <wsdl:message name="PersonService_DeletePerson_InputMessage"><wsdl:part name="part" element="q9:DeletePersonRequest" xmlns:q9="http://MCI.PersonService.DeletePerson"/></wsdl:message>
  <wsdl:message name="PersonService_DeletePerson_OutputMessage"><wsdl:part name="part" element="q10:DeletePersonResponse" xmlns:q10="http://MCI.PersonService.DeletePerson"/></wsdl:message>
  <wsdl:message name="PersonService_MergePerson_InputMessage"><wsdl:part name="part" element="q11:MergePersonRequest" xmlns:q11="http://MCI.PersonService.MergePerson"/></wsdl:message>
  <wsdl:message name="PersonService_MergePerson_OutputMessage"><wsdl:part name="part" element="q12:MergePersonResponse" xmlns:q12="http://MCI.PersonService.MergePerson"/></wsdl:message>
  <wsdl:message name="PersonService_UpdatePerson_InputMessage"><wsdl:part name="part" element="q13:UpdatePersonRequest" xmlns:q13="http://MCI.PersonService.UpdatePerson"/></wsdl:message>
  <wsdl:message name="PersonService_UpdatePerson_OutputMessage"><wsdl:part name="part" element="q14:UpdatePersonResponse" xmlns:q14="http://MCI.PersonService.UpdatePerson"/></wsdl:message>
  <wsdl:message name="PersonService_SearchProvider_InputMessage"><wsdl:part name="part" element="q15:SearchProviderRequest" xmlns:q15="http://MCI.PersonService.SearchProvider"/></wsdl:message>
  <wsdl:message name="PersonService_SearchProvider_OutputMessage"><wsdl:part name="part" element="q16:SearchProviderResponse" xmlns:q16="http://MCI.PersonService.SearchProvider"/></wsdl:message>
  <wsdl:portType name="PersonService"><wsdl:documentation/>
    <wsdl:operation name="SearchAddress"><wsdl:documentation/><wsdl:input message="tns:PersonService_SearchAddress_InputMessage"/><wsdl:output message="tns:PersonService_SearchAddress_OutputMessage"/></wsdl:operation>
    <wsdl:operation name="CreatePerson"><wsdl:documentation/><wsdl:input message="tns:PersonService_CreatePerson_InputMessage"/><wsdl:output message="tns:PersonService_CreatePerson_OutputMessage"/></wsdl:operation>
    <wsdl:operation name="GetPerson"><wsdl:documentation/><wsdl:input message="tns:PersonService_GetPerson_InputMessage"/><wsdl:output message="tns:PersonService_GetPerson_OutputMessage"/></wsdl:operation>
    <wsdl:operation name="SearchPerson"><wsdl:documentation/><wsdl:input message="tns:PersonService_SearchPerson_InputMessage"/><wsdl:output message="tns:PersonService_SearchPerson_OutputMessage"/></wsdl:operation>
    <wsdl:operation name="DeletePerson"><wsdl:documentation/><wsdl:input message="tns:PersonService_DeletePerson_InputMessage"/><wsdl:output message="tns:PersonService_DeletePerson_OutputMessage"/></wsdl:operation>
    <wsdl:operation name="MergePerson"><wsdl:documentation/><wsdl:input message="tns:PersonService_MergePerson_InputMessage"/><wsdl:output message="tns:PersonService_MergePerson_OutputMessage"/></wsdl:operation>
    <wsdl:operation name="UpdatePerson"><wsdl:documentation/><wsdl:input message="tns:PersonService_UpdatePerson_InputMessage"/><wsdl:output message="tns:PersonService_UpdatePerson_OutputMessage"/></wsdl:operation>
    <wsdl:operation name="SearchProvider"><wsdl:documentation/><wsdl:input message="tns:PersonService_SearchProvider_InputMessage"/><wsdl:output message="tns:PersonService_SearchProvider_OutputMessage"/></wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITwoWayAsync" type="tns:PersonService"><wsp:PolicyReference URI="#BasicHttpBinding_ITwoWayAsync_policy"/><soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SearchAddress"><wsdl:documentation/><soap:operation soapAction="SearchAddress" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePerson"><wsdl:documentation/><soap:operation soapAction="CreatePerson" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson"><wsdl:documentation/><soap:operation soapAction="GetPerson" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPerson"><wsdl:documentation/><soap:operation soapAction="SearchPerson" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson"><wsdl:documentation/><soap:operation soapAction="DeletePerson" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergePerson"><wsdl:documentation/><soap:operation soapAction="MergePerson" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson"><wsdl:documentation/><soap:operation soapAction="UpdatePerson" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProvider"><wsdl:documentation/><soap:operation soapAction="SearchProvider" style="document"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BizTalkServiceInstance">
    <wsdl:port name="BasicHttpBinding_ITwoWayAsync" binding="tns:BasicHttpBinding_ITwoWayAsync"><soap:address location="https://esbtest.dhss.alaska.gov/MCIPersonService/PersonService.svc"/></wsdl:port>
  </wsdl:service>
</wsdl:definitions>
